{% extends "base.html" %} {% block title %}Sign-Up{% endblock %} {% block
content %}

<div class="container-xl card pt-3 mt-4 mb-4 bg-light" style="width: 60%;">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h2 align="center">Sign Up To Accel Cars</h2>
    <div class="form-group">
      <label for="email">Email Address :</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Your Email ID"
      />
    </div>
    <div class="input-group">
    <div class="form-group">
      <label for="firstName">First Name :</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter Your First Name"
      />
    </div>
    <div class="form-group ml-5">
      <label for="lastName">Last Name :</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Enter Your Last Name"
      />
    </div>
    </div>
    <div class="input-group" id="user_contact">
    <div class="form-group">
      <label for="ContactNo">Contact Number :</label>
      <input
        type="number"
        class="form-control"
        id="contactNo"
        name="contactNo"
        minlength="10"
        maxlength="10"
        placeholder="Phone Number"
      />
    </div>
    </div>   
    
    <div class="input-group">
      <label class ="label mr-4" name="gender">Gender :</label> 
      <div class="p-t-10">
        <label class="radio-container mr-5" for="gender1">Male
          <input
          type="radio"
          class="form-check-input ml-2"
          id="gender1"
          name="optradio"
          value="male"
          checked>
         <span class="checkmark"></span>
        </label>
        <label class="radio-container mr-5" for="gender2">Female
          <input
          type="radio"
          class="form-check-input ml-2"
          id="gender2"
          name="optradio"
          value="female"
        >
        <span class="checkmark"></span>
        </label>
        <label class="radio-container mr-5" for="gender3">Others
          <input
          type="radio"
          class="form-check-input ml-2"
          id="gender3"
          name="optradio"
          value="others"
        >
        <span class="checkmark"></span>
        </label>
      </div>
      </div>
    <div class="input-group" id="user_age">
    <div class="form-group">
      <label for="age">Age :</label>
      <input
        type="number"
        class="form-control"
        id="age"
        name="age"
        min="18"
        max="65"
      />
    </div>
    </div>
    <div class="input-group" id="user_dl">
      <div class="form-group">
        <label for="dl">Drivers Licence ID :</label>
        <input
          type="text"
          class="form-control"
          id="dl"
          name="dl"
          maxlength="10"
        />
      </div>
    </div>
    <div class="input-group" id="user_pwd">
    <div class="form-group">
      <label for="password1">Password :</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter Password"
      />
    </div>
    <div class="form-group ml-5">
      <label for="password2">Confirm Password :</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm Password"
      />
    </div>
    </div>
    
      <div class="input-group data-bs-toggle="tooltip" data-bs-placement="top" title="Please select 'Yes', if you are registered Admin/Employee"">
        <label class ="label mr-4" name="admin">Admin :</label>
        <div class="p-t-10">
          <label class="radio-container m-r-45">Yes
            <input type="radio" name="admin" value="Yes" onclick="text(0)" checked/>
            <span class="checkmark"></span>
          </label>
          <label class="radio-container m-r-45">No
            <input type="radio" name="admin" value="No" onclick="text(1)"/>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    
      <div class="input-group mt-2" id="admin_code">
        <label for="empid">Employee Id :</label>
        <div class="form-group ml-2">
          <input
            type="text"
            class="form-control"
            id="empid"
            name="empid"
            maxlength="4"
          />
        </div>
      </div>
    <br/>
    <button type="submit" class="btn btn-primary mb-4">Submit</button>
  </form>
</div>

{% endblock %}
